<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div>
        {% for pet in pets %}
            <div class="'petname">
                <a href="{% url 'pet_detail' pet.id %}">
                <h3>{{ pet.name|capfirst}}</h3>
                </a>
                <p>{{ pet.species }}</p>
                {% if pet.breed %}
                    <p>Breed: {{ pet.breed }}</p>
                {% endif %}
                <p class="hidden">{{ pet_description }}</p>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>